.container .content {
  display: none;
  padding: 5px;
}

.accordion-item {
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

button.accordion {
  width: 100%;
  /* background-color: #9b0000; */

  outline: none;
  text-align: center;
  border: none;
  padding: 15px 10px;
  /* padding: 0.5rem 5rem 0.5rem 1rem; */
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: "\f055";
  font-family: "fontawesome";
  font-size: 14px;

  float: right;
}

button.accordion.is-open:after {
  content: "\f056";
  /* height: 200px; */
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0px 20px;
  max-height: 0;
  height: 200px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content p {
  padding: 10px 0px;
  height: 200px;
}

.card-header {
  text-align: center;
  font-size: 20px;
}

.card {
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* spadding-bottom: 10px; */
}

.card-title {
  text-align: center;
}

#ananymous {
  width: 1000px;
}

#No-title {
  padding-top: 20px;
}
